@charset "UTF-8";
/*------------------------------------------
**             08/01/2020
**        Realizado por: AspectoX
**        http://aspectox.esy.es/
**      aspectox.creativa@gmail.com
**------------------------------------------*/
/* -----------------------
* ADICIONES
-------------------------- */
body {
  font-family: 'Lato', sans-serif;
}

a:hover {
  text-decoration: none;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

/*
      margenes a 20px
*/
.m-b-20 {
  margin-bottom: 1.25rem !important;
}

.m-t-20 {
  margin-top: 1.25rem !important;
}

/*
      Botones sociales
*/
a.facebook {
  color: #0561AF;
}

a.twitter {
  color: #00BFF3;
}

a.youtube {
  color: #CC181E;
}

a.linkedin {
  color: #0077B5;
}

a.pinterest {
  color: #BD081C;
}

a.instagram {
  color: #CD486B;
}

a.whatsapp {
  color: #65D64A;
}

/*
      Colores secciones
*/
.politica {
  background-color: #2196F3 !important;
}

.triang-politica {
  border-top: 10px solid #2196F3 !important;
}

.colorPolitica {
  color: #2196F3 !important;
  font-weight: 600;
}

.lineaPolitica {
  border-top: 4px solid #0c7cd5 !important;
}

.mundo {
  background-color: #999966 !important;
}

.triang-mundo {
  border-top: 10px solid #999966 !important;
}

.colorMundo {
  color: #999966 !important;
  font-weight: 600;
}

.lineaMundo {
  border-top: 4px solid #7a7a52 !important;
}

.economia {
  background-color: #75b036 !important;
}

.triang-economia {
  border-top: 10px solid #75b036 !important;
}

.colorEconomia {
  color: #75b036 !important;
  font-weight: 600;
}

.lineaEconomia {
  border-top: 4px solid #5b892a !important;
}

.deporte {
  background-color: #fead26 !important;
}

.triang-deporte {
  border-top: 10px solid #fead26 !important;
}

.colorDeporte {
  color: #fead26 !important;
  font-weight: 600;
}

.lineaDeporte {
  border-top: 4px solid #7300e6 !important;
}

.espectaculo {
  background-color: #9933ff !important;
}

.triang-espectaculo {
  border-top: 10px solid #9933ff !important;
}

.colorEspectaculo {
  color: #9933ff !important;
  font-weight: 600;
}

.lineaEspectaculo {
  border-top: 4px solid #7300e6 !important;
}

/*
      Diseño de articulos
*/
.contenedor-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  margin: 1.25rem 0;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
}

.card-news {
  display: block;
  background-color: #FFF;
  padding: 15px;
  margin: 20px 0px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-news span.section {
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 5px;
}

.card-news .card-news-img {
  margin-bottom: 15px;
}

.card-news h2.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1.2px;
  margin-top: 10px;
}

.card-news p.copete {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.tar-news {
  display: block;
  background-color: #FFF;
  padding: 0;
  position: relative;
}

.tar-news:after {
  content: "";
  width: 100%;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 5px;
  bottom: -20px;
}

.tar-news .cont-section {
  position: relative;
  text-align: center;
  width: 100%;
}

.tar-news .cont-section:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  z-index: 0;
}

.tar-news span.section {
  display: inline-block;
  color: #000;
  background-color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 2px 5px;
  position: relative;
}

.tar-news h2.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0;
  text-align: center;
}

.tar-news p.copete {
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0;
}

.tar-news.animado {
  /*opacity: 0;*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-list .news-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

.news-list .news-item .news-images {
  width: calc(45% - 15px);
  margin-right: 15px;
}

.news-list .news-item .news-list-text {
  display: block;
  width: 55%;
  float: right;
}

.news-list .news-item .news-list-text h2.title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.news-list .news-item .news-list-text span.section-list {
  display: block;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.news-list_tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0.625rem 0 0 0;
  margin: 0.625rem 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.news-list_tool .news-list_tool-item a i.ax {
  font-size: 13px;
  color: rgba(124, 124, 124, 0.5);
}

.news-list_tool .news-list_tool-item a span.textnum {
  font-size: 12px;
  color: rgba(124, 124, 124, 0.5);
  margin-left: 5px;
  padding: 3px 4px;
}

.news-list_tool .news-list_tool-item:not(:last-child) {
  margin-right: 10px;
}

.news-text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-text-list .news-text-item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding-bottom: 1.25rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.news-text-list .news-text-item span.news-text-item_section {
  display: block;
  width: 100%;
  font-size: 14px;
}

h5.tituloSeccion {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #CC181E;
  margin-top: 0;
  margin-bottom: 1.875rem;
  position: relative;
}

h5.tituloSeccion:after {
  content: "";
  width: 100%;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 5px;
  bottom: -15px;
  left: 0px;
}

.news-banner {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.news-banner img.news-banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
}

.news-banner img.news-banner-img img.news-banner-img {
  display: block;
  max-width: none !important;
}

.news-banner:hover img.news-banner-img {
  overflow: hidden;
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
}

.news-banner-c {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.news-banner-c img.news-banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 215px;
}

.news-banner-c img.news-banner-img img.news-banner-img {
  display: block;
  max-width: none !important;
}

.news-banner-c:hover img.news-banner-img {
  overflow: hidden;
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
}

h3.news-caja-title {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0;
  bottom: 0px;
  position: absolute;
}

h3.news-caja-title a {
  color: #FFF !important;
}

h3.news-caja-title span.news-banner-section-title {
  display: block;
  width: 80px;
  color: #fff;
  font-size: 10px;
  margin-bottom: 12px;
  padding: 5px 7px;
  text-align: center;
  text-transform: uppercase;
}

h3.title {
  font-size: 1rem;
  font-weight: 600;
}

.news-whiteItem {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 2.1875rem;
  border-right: none;
}

.news-whiteItem:last-child {
  border-right: none;
}

.news-whiteItem .news-whiteItem_content {
  margin-top: 0.625rem;
}

.news-whiteItem .news-whiteItem_content h3.news-whiteItem_title {
  display: block;
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0.625rem;
}

.news-whiteItem .news-whiteItem_content .copete {
  font-size: 0.95rem;
  margin-top: 1.3rem;
  margin-bottom: 0;
}

.title-section-separator {
  margin-bottom: 1.25rem;
}

.title-section-separator h5.title {
  display: block;
  width: 100%;
  color: #FFF !important;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #2a2a2a;
  padding: 5px 15px;
  margin: 0;
  position: relative;
}

.arrow-down-widget {
  width: 0;
  height: 0;
  border-top: 10px solid #2a2a2a;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin: -3px 0 25px 15px;
  position: absolute;
}

/* sm */
@media only screen and (min-width: 610px) {
  .news-whiteItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news-whiteItem:nth-child(even) {
    border-right: none;
  }
}

/* md */
@media only screen and (min-width: 816px) {
  .news-whiteItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news-whiteItem:nth-child(even) {
    border-right: none;
  }
}

/* lg */
@media only screen and (min-width: 1024px) {
  .news-whiteItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24.8%;
            flex: 0 0 24.8%;
    max-width: 24.8%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news-whiteItem:nth-child(even) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* xl */
@media only screen and (min-width: 1260px) {
  .news-whiteItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24.8%;
            flex: 0 0 24.8%;
    max-width: 24.8%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news-whiteItem:nth-child(even) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* xxl */
/*# sourceMappingURL=extras.css.map */